/* common shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "weth" 100;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary {
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin-right: 5px;
    margin-bottom: 10px;
    cursor:pointer;
    transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
}
.contact-icon{
    width: 20px;
    height: 20px;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
/* nav related styles is here */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 11rem;
    color: #000;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin-left: 1rem;
}

nav a {
    text-decoration: none;
    color: #474747;;
}
/* Header related styles is here  */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;   
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-image{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin: 20px 0px;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
    margin: 15px 0px;
}
.banner-content{
    max-width: 500px;
}
/* Main section style is here */
main{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
    margin-top: 100px
}
main section{
    margin-top: 130px;
}
/* About Section style is here */
.about{
    padding: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 130px;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px; 
}
.about-skills{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 50px;
}
.info-title{
    text-align: center;
    font-weight:200;
}
.info-description{
    text-align: center;
    font-weight: 700;
}
/* What I do section style is here */
.skills-container{
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 24px;
}
#section-two-description{
    padding: 30px 150px;
}
.skills-description{
    color: #757575;
    font-size: 18px; 
}
.skill{
    padding: 30px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* Resume section style is here */
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 80px;
}
.resume-container{
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap:50px;
}
.resume-colum{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-title{
    padding: 15px 0px;
    font-size:30px;
    font-weight: 700;
}
.resume-item-description, .resume-item-subtitle{
    color: #757575;
    font-size: 18px;
}
.resume-container hr{
    margin: 30px 0px 30px 0px;
}
.resume-item-title{
    color: #474747;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.download-cv{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
/* Footer style is here */
footer{
    display: flex;
    gap:100px;
    background: #FFF8F3;
    margin-top: 100;
    padding: 130px 200px;
}
.section-description{
    padding-bottom: 25px;
}
.footer-column{
    width: 50%;

}
.section-title{
    font-size: 34px;
    padding-bottom: 20px;
    text-align: center;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-form input, .contact-form textarea{
    padding: 20px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}
.contact-form textarea{
    resize: none;
}
#btn-submit{
    text-align: center;
    padding: 15px;
    background: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    width: 150px;
    height: 65px;
}
.contact-form button:hover{
    text-align: center;
}
.social-icons a {
    margin-right: 25px;
    
}