/* common shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary {
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* nav related styles is here */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #000;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin-left: 1rem;
}

nav a {
    text-decoration: none;
    color: #474747;;
}
/* Header related styles is here  */
.header {
    background-color: #FFF8F3;
    
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-image{
    width: 500px;
}
